.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url(/Funix/Funix/Image/image3.jpg);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(/Funix/Funix/Image/baner2.png);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(/Funix/Funix/Image/baner.png);
}
